@{
    ViewData["Title"] = "SerializeQueryParams";
}

@section Scripts
    {
    <script src="~/dist/Home.SerializeQueryParams.js" ></script>

    <script>

        function SetArrayParamUrl() {
            let inputData = document.getElementById('ArrayParamUrl')
            const map = inputData.value.split(',')
            window.serializeQueryParams.setArrayParamUrl('ArrayParamUrl', map);
        }

        function GetUrlParam() {
            let seletedItemsGroupFromUrl = window.serializeQueryParams.getArrayParamUrl('ArrayParamUrl');
            document.getElementById('urlParam').textContent = JSON.stringify(seletedItemsGroupFromUrl)
        }


        function ready() {

        }
        document.addEventListener("DOMContentLoaded", ready);

    </script>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<button type="button" class="btn btn-primary" Onclick="SetArrayParamUrl()">
    set Array Param Url
</button>
<div class="form-group">
    <label for="usr">Enter the values of the string array separated by commas:</label>
    <input type="text" class="form-control" id="ArrayParamUrl">
</div>

<button type="button" class="btn btn-primary" Onclick="GetUrlParam()">
    get url Param
</button>
<p id="urlParam" class="text-left"></p>
