@{
    ViewData["Title"] = "SerializeQueryParams";
}

@section Scripts
{

    <script>
        import { setArrayParamUrl, getArrayParamUrl } from '~/dist/Home.SerializeQueryParams.js';
        function ready() {

        }
        document.addEventListener("DOMContentLoaded", ready);

        function _setArrayParamUrl() {
            const map = document.getElementById('ArrayParamUrl').textContent.split(',')
            setArrayParamUrl('ArrayParamUrl', map);
        }

        function getUrlParam() {
            let seletedItemsGroupFromUrl = getArrayParamUrl('ArrayParamUrl');
            document.getElementById('urlParam').textContent = JSON.stringify(seletedItemsGroupFromUrl)
        }

    </script>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<button type="button" class="btn btn-primary" Onclick="_setArrayParamUrl()">
    set Array Param Url
</button>
<div class="form-group">
    <label for="usr">Enter the values of the string array separated by commas:</label>
    <input type="text" class="form-control" id="ArrayParamUrl">
</div>

<button type="button" class="btn btn-primary" Onclick="getUrlParam()">
    get url Param
</button>
<p id="urlParam" class="text-left"></p>